## Variables and numbers

In [1]:
a = 4
b = 5

In [2]:
print(a+b)

9

In [3]:
a = 100
print(a)

100

In [5]:
a += 10

In [6]:
a

200

In [8]:
a//3

66

In [9]:
a//4

50

In [10]:
a = 3
b = 7
c = 21

In [12]:
print(a*b/c)

1.0

In [13]:
a = 1000
print(1000)

1000

In [14]:
a += 100

In [15]:
a

1100

In [16]:
a

1100

In [25]:
a = 10
b = 70
c = 20

## Input Functions

In [26]:
Age = int(input("Enter your Age"))
print(Age)

Enter your Age 21

21

In [45]:
construction = eval(input("Enter the equation"))
print(construction)

Enter the equation 77+55

132

In [30]:
length = float(input("enter your length"))
print(length)

enter your length 7

7.0

In [31]:
breadth = float(input("Enter your breadth"))
print(breadth)

Enter your breadth 8

8.0

In [44]:
length = 10
breadth = 20

## Datatypes or type function

In [45]:
a = 100

In [54]:
a -= 90

In [55]:
a

-102

In [57]:
type("ujwal")

str

In [58]:
type(0)

int

In [59]:
type(7.0)

float

In [60]:
type(True)

bool

In [61]:
type(False)

bool

In [65]:
type(2+3j)

complex

In [113]:
name = "ujwal rana"
print(name.count("a"))

3

In [114]:
name = "ujwal rana"
print(name.upper())

UJWAL RANA

In [115]:
name = "UJWAL RANA"
print(name.lower())

ujwal rana

In [117]:
name = "Ujwal Rana"
print(name.find("R"))

6

In [120]:
name = "Ujwal Rana"
print(name.replace("a","n"))

Ujwnl Rnnn

In [127]:
name = "Ujwal Rana"
print(name.replace("a","e",1))

Ujwel Rana

In [131]:
name = "ujwal Rana 21"
print(name.split("_"))

['ujwal Rana 21']

In [145]:
pets = "TOM,JEERY,KUTTA,BILLI".split()

In [146]:
pets

['TOM,JEERY,KUTTA,BILLI']

In [156]:
pets = "tom jeery kutta billi"
print(pets.split())

['tom', 'jeery', 'kutta', 'billi']

In [159]:
pets = "tom    jerry   kutta"
print(pets.strip())

tom    jerry   kutta

In [7]:
name = ("ujwal rana")
print(name)

ujwal rana

In [8]:
def myProfile(name,age,Profession):
    return myProfile

In [9]:
myProfile("ujwal rana",21,"student")

In [10]:
myProfile

In [11]:
name = ("ujwal")

In [12]:
name

'ujwal'

In [13]:
name.upper()

'UJWAL'

In [14]:
name.lower()

'ujwal'

In [15]:
name.upper()

'UJWAL'

In [16]:
name.lower()

'ujwal'

In [17]:
name.isnumeric()

False

In [18]:
name.isalpha()

True

## String

In [43]:
name = "ujwal"
salary = 80000

In [45]:
f"hi my name is {name} and my salary is {salary}"

'hi my name is ujwal and my salary is 80000'

In [60]:
name = "ujwal"
salary = 80000
education = "Bba"

In [62]:
f"hi my name is {name} and my salary is {salary} and my education is {education}"

'hi my name is ujwal and my salary is 80000 and my education is Bba'

In [63]:
a = name 
b = salary
c = education

In [64]:
a

'ujwal'

In [65]:
b

80000

In [66]:
c

'Bba'

In [101]:
name = "ujwal"
age = 21
salary = 75000

In [103]:
"Hi my name is {} my age is {} any my salary is {}".format(name,age,salary)

'Hi my name is ujwal my age is 21 any my salary is 75000'

In [104]:
name = "ujwal"
age = 21
salary = 75000

In [105]:
f"Hi my name is {name} my age is {age} any my salary is {salary}"

'Hi my name is ujwal my age is 21 any my salary is 75000'

## Conditional statements

In [79]:
num = 4

In [80]:
if num > 3:
    print("this number is positive")

elif num < 1:
    print("this number is negative")

else:
    print("the actual reason")

this number is positive

In [91]:
if num > 5:
    print("Very great")

elif num < 1:
    print("Not bad")

else:
    print("Worst")

Very great

In [90]:
num = 7

## Questions

1. check if a number is positive and negative in python

In [14]:
num = 999

In [15]:
if num > 0:
    print("positive")

else:
    print("negative")

positive

####  or

In [30]:
num = 99

In [31]:
if num > 0:
    if num ==0:
        print("number is zero")

    elif num <= 0:
        print("negative number")

    else:
        print("number is positive")

number is positive

In [42]:
num = int(input("Enter your number"))
if num > 0:
    print("Positive")

else: print("Negative")

Enter your number 8

Positive

2. Check whether a number is even or odd in pyhton?

In [34]:
num = 10

In [35]:
if num % 2 == 0:
    print("Even")

else:
    print("odd")

Even

or

In [12]:
num = int(input("Enter your number:"))
if num % 2 == 0:
    print("Even")

else:
    print("odd")

Enter your number: 1

odd

3. Find the sum of the first N natural numbers in Python

In [73]:
# formula = num(num+1)/2
num = 10
sum = 0
for i in range (0,10):
    sum += 1
    print(i)

0
1
2
3
4
5
6
7
8
9

In [70]:
num = 10
sum = 0
for i in range (0,10):
    sum += 1
    print(sum)

1
2
3
4
5
6
7
8
9
10

In [72]:
num = 50
sum = 40
for i in range (0,11):
    sum -= 1
    print(sum)

39
38
37
36
35
34
33
32
31
30
29

4. Find the greatest of 2 numbers

In [9]:
num1 = 29
num2 = 30
if num1 < num2:
    print("num1")
else:
    print("num2")

num1

5. Find the greatest between three numbers

In [32]:
num1 = 5
num2 = 33
num3 = 9
if num1> num2 > num3:
    print(num1)
elif num2> num3 > num1:
    print(num2)
else:
    print(num3)

33

In [43]:
num1 = 7
num2 = 90
num3 = 10
if num1 > num2 > num3:
    print(num1)
    if num1> num2 > num3:
        print(num2)
else:
    print(num3)

10

6. Leap or not

In [13]:
year = 2001
if (year% 400 == 0) or (year%4==0 and year%100!=0):
    print("Leap year")
else:
    print("Not a leap year")

Not a leap year

In [15]:
year = 2000

In [16]:
if (year%400 == 0) or (year%4 ==0 and year%100!=0):
    print("Leap year")
else:
    print("Not a leap yaer")

Leap year

In [34]:
year = 2004
if (year%400 == 0) or (year%4 == 0 and year%100!= 0):
    print('Leap year')
else:
    print('Not a leap year')

Leap year

7. Prime Number or not

In [43]:
num = 19
prime = True
if num % 2 == 0:
    print("Not a prime number")
else:
    print("Prime number")

Prime number

8. Prime Number with a given range

In [51]:
num = 1,2,3,4,5,6,7,8,9,10
prime = True
if num % 2 == 0:
    print("This is not a prime number")
else:
    print("This is a prime number")

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'